/* .container {
    animationIn: transition 0.75s;
}

@keyframes transitionIn {
    from {
        opacity:0;
        transform:rotateX(-10deg);
    }
    to {
        opacity:1;
        transform: rotateX(-10deg);
    }
} */

h1 {
    font-family: 'Times New Roman';
    font-size: 36px;
    background: #ffffff;
    color: maroon;
 }
 
 h2 {
    font-family: arial,verdana,sans-serif;
    font-size: 20px;
    background: #ffffff;
    color: black;
 }
 
 P {
    font-family: arial,verdana,sans-serif;
    font-size: 16px;
    background: #ffffff;
    color: navy;
 }
 
 body {
    background-color: #ffffff;
    background-image: url("download.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
  }